@import url("login.css");

body { padding-top: 70px; }

a.navbar-brand.coso {
    padding:0;
}
a.mailto {
    color:white;
    text-decoration: underline;
}


.jumbotron {
    background-color: rgba(53, 74, 130, 1);
    color:white;
}
