{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Candidats</h1>
        <p>Voici la liste des candidats disponibles. Pour obtenir des informations sur l'un d'entre eux, cliquer sur sa photographie. Si vous souhaitez rajouter des candidats à la liste, n'hésitez pas à nous <a class="mailto"href="mailto:#">contacter</a>.</p>
    </div>

    <div class="row">
        <ul>
            {% load static %}
            {% for candidate in object_list %}
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                      {% if candidate.image == None %}
                        <img src="{% static 'images/bird.png' %}" alt="...">
                      {% elif candidate.image != "" %}
                        <img src="{{ candidate.image }}" alt="...">
                      {% endif %}
                      <div class="caption">
                        <h3>{{ candidate.name }} {{ candidate.surname }}</h3>
                        <p>Né le {{ candidate.birth_date }}</p>
                        <p><a href="#" class="btn btn-primary" role="button">Sélectionner</a></p>
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}