{% extends "base.html" %}

{% block content %}

<script type="text/javascript" charset="utf-8" >

var elections = {{ json_elections }};
var candidates = "{{ candidates }}";
candidates = candidates.replace(/&quot;/g, '"');
candidates = candidates.replace(/&#39;/g, "");
candidates = JSON.parse(candidates);
var candidates_by_elections = {{ candidates_by_election }};

function changeElection(value) {
    $('#candidateId')
            .find('option')
            .remove()
            .end()
    if (candidates_by_elections[value].length > 0){
        for(i = 0; i < candidates_by_elections[value].length; i++){
            var newSelect = document.getElementById("candidateId");
            var opt = document.createElement("option");
            opt.value = candidates_by_elections[value][i];
            opt.innerHTML = candidates[candidates_by_elections[value][i]]; // whatever property it has
            // then append it to the select element
            newSelect.appendChild(opt);
        }
    }
};

</script>

<div class="jumbotron">
    <h1>Statistiques</h1>
    <p>Bienvenu sur le module "Statistiques". Sélectionner une élection et un candidat pour obtenir le taux de confiance COSO sur sa réussite.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-body panel-statistics">
            <h1>Nouvelle recherche</h1>
            <form action="/polls/statistics/" method="post" class="form-horizontal">
              {% csrf_token %}
              <div class="form-group">
                <label id="label"  for="electionId">Choisir une élection</label>
                <select class="form-control" name="electionId" id="electionId" onchange="changeElection(value);">
                  <option value="" selected> </option>
                  {% for election in elections %}
                    <option value="{{ election.id }}">{{ election.print_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="candidateId">Choisir un candidat</label>
                <select class="form-control" name="candidateId" id="candidateId">
                  <option value=""> </option>
                </select>
              </div>
              <div class="form-group">
                <label for="startDate">Date de début</label>
                <input type="text" class="form-control" id="startDate" name="startDate" placeholder="JJ/MM/AAAA" required>
              </div>
              <div class="form-group">
                <label for="endDate">Date de fin</label>
                <input type="text" class="form-control" id="endDate" name="endDate" placeholder="JJ/MM/AAAA" required>
              </div>
              <button type="submit" class="btn btn-default" value="Submit">Rechercher</button>
            </form>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-body panel-statistics">
            <h1>Historique des statistiques obtenus</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Élection</th>
                        <th>Candidat</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th class="text-center">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for statistic in statistics %}
                    <tr>
                        <td>{{ statistic.id }}</td>
                        <td>{{ statistic.election.date|date:"d/m/Y" }}</td>
                        <td>{{ statistic.candidate.complete_name }}</td>
                        <td>{{ statistic.start_date|date:"d/m/Y" }}</td>
                        <td>{{ statistic.end_date|date:"d/m/Y" }}</td>
                        <td class="text-center">{{ statistic.score|floatformat:4 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
      </div>
  </div>
</div>
{% endblock %}